In [1]:
from datetime import datetime

In [2]:
my_year = 2020
my_month = 1
my_day = 2
my_hour = 13
my_min = 30
my_sec = 15

In [3]:
my_date = datetime(my_year, my_month, my_day)
my_date

datetime.datetime(2020, 1, 2, 0, 0)

In [4]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_min, my_sec)

In [6]:
my_date_time

datetime.datetime(2020, 1, 2, 13, 30, 15)

In [7]:
my_date_time.day

2

In [8]:
my_date_time.month

1

In [9]:
type(my_date_time)

datetime.datetime

In [10]:
import numpy as np

In [12]:
np.array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64')

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

In [13]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [21]:
time = np.arange('1918-06-01', '2021-06-23', dtype='datetime64[D]')
len(time)

37643

In [22]:
import pandas as pd

In [23]:
pd.date_range('2020-01-01',periods=7, freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.to_datetime(['1/2/2018', 'Jan 03, 2018'])

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [27]:
pd.to_datetime(['2/1/2018', '3/1/2018'], format='%d/%m/%Y')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [28]:
data = np.random.randn(3,2)
cols = ['A', 'B']
print(data)

[[ 0.87449952  0.99690384]
 [-0.17268529 -0.04183099]
 [ 1.30774255  0.56625894]]

In [31]:
idx = pd.date_range('2020-01-01', periods=3, freq='D')
df = pd.DataFrame(data, index=idx, columns=cols)

In [32]:
df

                   A         B
2020-01-01  0.874500  0.996904
2020-01-02 -0.172685 -0.041831
2020-01-03  1.307743  0.566259

In [33]:
df.index.max()

Timestamp('2020-01-03 00:00:00', freq='D')

In [34]:
df.index.argmax()

2

In [35]:
df.index.min()

Timestamp('2020-01-01 00:00:00', freq='D')